## How do I apply multiple filter criteria to a pandas DataFrame?

In [1]:
import pandas as pd

In [2]:
movies_path = 'http://bit.ly/imdbratings'
movies = pd.read_csv(movies_path)

In [3]:
#show movies with duration >= 200
movies[movies.duration>=200].head(3)

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."

In [5]:
#IMPORTANT: PANDAS
#filter #select #pandas

#inner part of a filter returns list of booleans
(movies.duration >= 200) & (movies.genre == 'Drama').head(3)

0      False
1      False
2      False
3      False
4      False
       ...
974    False
975    False
976    False
977    False
978    False
Length: 979, dtype: bool

In [4]:
#IMPORTANT: PANDAS
#filter #select #pandas
#pass inner filter to a dataframe to return a dataframe
movies[(movies.duration >= 200) & (movies.genre == 'Drama')]

,star_rating,title,content_rating,genre,duration,actors_list
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."

In [6]:
#IMPORTANT: PANDAS
#isin #filter #select #pandas

#best-practice: if you are filtering multiple OR-conditions use .isin-Method
#movies[(movies.genre == 'Drama') | (movies.genre == 'Crime') | ...]
movies[movies.genre.isin(['Crime','Drama','Action'])].head(5)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."