## How do I read a tabular data file into pandas?

In [3]:
import pandas as pd

In [4]:
#read datasets
ufo_path = 'http://bit.ly/uforeports'
orders_path = 'http://bit.ly/chiporders'
users_path = 'http://bit.ly/movieusers'

### How to use read_tables

In [5]:
#using pd.read_table to read a table from URL
orders = pd.read_table(orders_path)

In [6]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [7]:
#IMPORTANT: PANDAS
#read_table #sep #cols #read #pandas
user_cols=['user_id','age','gender','occupation','zip_code']

#read with .read_table method
users=pd.read_table(users_path, sep='|',header=None, names=user_cols)

In [8]:
users.head(2)

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043

### How to use read_csv

In [14]:
#IMPORTANT: PANDAS
#usecols #read #fast #pandas

#maximize reading speed when working with large datasets using usecols- and nrows-parameter
#just read cols City and State
ufo = pd.read_csv(ufo_path,usecols=['City','State'], nrows=3, index_col='City')
ufo.head()

            State
City
Ithaca         NY
Willingboro    NJ
Holyoke        CO

In [10]:
#IMPORTANT: PANDAS
#usecols #read #pandas

#usecols also takes index as an input
ufo = pd.read_csv(ufo_path,usecols=[0,4])
ufo.columns

Index(['City', 'Time'], dtype='object')

## How do DataFrames and Series work with regard to selecting individual entries and iteration (for X in userdata)?

In [12]:
#iteration
for c in ufo.City:
    print(c)

Ithaca
Willingboro
Holyoke

In [13]:
#IMPORTANT: PANDAS
#iteration #pandas
for index, row in ufo.iterrows():
    print(index,row.City,row.State)

0 Ithaca NY
1 Willingboro NJ
2 Holyoke CO