## How to create a pandas dataframe from another object?

In [1]:
import pandas as pd
import numpy as np

In [2]:
#create dataframe with dicts
df = pd.DataFrame({'id':[100,101,102], 'color':['red','blue','red']},
columns=['id','color'],index=['a','b','c'])
df

    id color
a  100   red
b  101  blue
c  102   red

In [3]:
#create dataframe with bunch of lists
pd.DataFrame([[100,'red'],[101, 'blue'],[102,'red']], columns=['id','color'])

    id color
0  100   red
1  101  blue
2  102   red

In [4]:
#create numpy-array
arr = np.random.rand(4,2)
arr

array([[0.61089129, 0.91714523],
       [0.56284621, 0.68418151],
       [0.32284376, 0.17197085],
       [0.96352494, 0.73321391]])

In [5]:
#create dataframe with numpy-arrays
pd.DataFrame(arr, columns=['one', 'two'])

        one       two
0  0.610891  0.917145
1  0.562846  0.684182
2  0.322844  0.171971
3  0.963525  0.733214

In [6]:
#IMPORTANT: PANDAS
#sample #create #numpy #pandas

#create a dataframe from scratch
#set_index function
pd.DataFrame(
    {'student': np.arange(100,110,1),
    'test': np.random.randint(60,101,10)
    }).set_index('student')

         test
student
100        64
101        87
102        76
103        69
104        91
105        91
106        92
107        67
108        86
109        67

In [7]:
#create series from scratch
s = pd.Series(['round', 'square'], index=['c','b'], name='shape')
s

c     round
b    square
Name: shape, dtype: object

In [8]:
df

    id color
a  100   red
b  101  blue
c  102   red

In [9]:
#IMPORTANT: PANDAS
#concat #merge #pandas
#concat a series with a dataframe by index
#1: name of series (shape) became col-name
#2: series was alligned to the dataframe by the index
#3: a.shape became a NaN-value
pd.concat([df,s],axis=1)

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round