## How to build a DataFrame from multiple files (row-wise)?

In [1]:
import pandas as pd

In [2]:
#create dataframes
pd.read_csv('stocks1.csv', sep=';', usecols=['date','ticker','price'])
pd.read_csv('stocks2.csv', sep=';', usecols=['date','ticker','price'])
pd.read_csv('stocks3.csv', sep=';', usecols=['date','ticker','price'])

         date ticker  price
0  2020-12-03   AAPL  13,45
1  2020-12-03   MSFT   33,3
2  2020-12-03   GOOG   23,1

In [3]:
#IMPORTANT: PANDAS
#glob #sorted #read #pandas
#built-in glob-modul
#will return all files which match pattern stocks*.csv
#glob returns filenames in an arbitrary order, so we use sorted
from glob import glob
stock_files = sorted(glob('stocks*.csv'))
stock_files

['stocks1.csv', 'stocks2.csv', 'stocks3.csv']

In [4]:
#IMPORTANT: PANDAS
#glob #sorted #index #row #row-wise #concat #read #pandas
#using generator expression to reach each of the files using read_csv
#pass the results to concat which will concatenate the rows into a df

#commented method will keep the indexes
#pd.concat((pd.read_csv(file, sep=';', usecols=['date','ticker','price']) for file in stock_files))
pd.concat((pd.read_csv(file, sep=';', usecols=['date','ticker','price']) for file in stock_files), ignore_index=True)

         date ticker  price
0  2020-12-01   AAPL  12,34
1  2020-12-01   MSFT     34
2  2020-12-01   GOOG     23
3  2020-12-02   AAPL   13,4
4  2020-12-02   MSFT   33,2
5  2020-12-02   GOOG   23,3
6  2020-12-03   AAPL  13,45
7  2020-12-03   MSFT   33,3
8  2020-12-03   GOOG   23,1

## How to build a DataFrame from multiple files (col-wise)?

In [5]:
pd.read_csv('stocks1.csv', sep=';', usecols=['date','ticker','price'])

         date ticker  price
0  2020-12-01   AAPL  12,34
1  2020-12-01   MSFT     34
2  2020-12-01   GOOG     23

In [6]:
pd.read_csv('stocks2.csv', sep=';', usecols=['date','ticker','price'])

         date ticker price
0  2020-12-02   AAPL  13,4
1  2020-12-02   MSFT  33,2
2  2020-12-02   GOOG  23,3

In [7]:
stocks_files = sorted(glob('stocks*.csv'))

In [8]:
#IMPORTANT: PANDAS
#glob #sorted #cols #col-wise #concat #read #pandas
#using generator expression to reach each of the files using read_csv
#pass the results to concat which will concatenate the rows into a df

pd.concat((pd.read_csv(file, sep=';', usecols=['date','ticker','price']) for file in stocks_files), axis='columns')

         date ticker  price        date ticker price        date ticker  price
0  2020-12-01   AAPL  12,34  2020-12-02   AAPL  13,4  2020-12-03   AAPL  13,45
1  2020-12-01   MSFT     34  2020-12-02   MSFT  33,2  2020-12-03   MSFT   33,3
2  2020-12-01   GOOG     23  2020-12-02   GOOG  23,3  2020-12-03   GOOG   23,1