## When to use the Inplace Parameter?

In [3]:
import pandas as pd

In [4]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [5]:
ufo.head(3)

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [6]:
ufo.shape

(18241, 5)

### How to use inplace with drop

In [7]:
#Use Inplace=True if you're sure about what to do
ufo.drop('City',axis=1, inplace=True)

In [8]:
#Inplace=True changes affects the dataframe
ufo.head(3)

  Colors Reported Shape Reported State             Time
0             NaN       TRIANGLE    NY   6/1/1930 22:00
1             NaN          OTHER    NJ  6/30/1930 20:00
2             NaN           OVAL    CO  2/15/1931 14:00

### How to use inplace wit set_index

In [9]:
ufo.set_index('Time', inplace=True)

In [10]:
ufo.head(3)

                Colors Reported Shape Reported State
Time
6/1/1930 22:00              NaN       TRIANGLE    NY
6/30/1930 20:00             NaN          OTHER    NJ
2/15/1931 14:00             NaN           OVAL    CO

### Avoid inplace if you are not sure or you won't affect the underlying data

In [13]:
ufo.tail()

                 Colors Reported Shape Reported State
Time
12/31/2000 23:00             NaN       TRIANGLE    IL
12/31/2000 23:00             NaN           DISK    IA
12/31/2000 23:45             NaN            NaN    WI
12/31/2000 23:45             RED          LIGHT    WI
12/31/2000 23:59             NaN           OVAL    FL

In [11]:
#Try out different methods and don't affect the underlying data
#bfill: use next valid observation to fill gap
ufo.fillna(method='bfill').tail()

                 Colors Reported Shape Reported State
Time
12/31/2000 23:00             RED       TRIANGLE    IL
12/31/2000 23:00             RED           DISK    IA
12/31/2000 23:45             RED          LIGHT    WI
12/31/2000 23:45             RED          LIGHT    WI
12/31/2000 23:59             NaN           OVAL    FL

In [12]:
#ffill: propagate last valid observation forward to next valid
ufo.fillna(method='ffill').tail()

                 Colors Reported Shape Reported State
Time
12/31/2000 23:00             RED       TRIANGLE    IL
12/31/2000 23:00             RED           DISK    IA
12/31/2000 23:45             RED           DISK    WI
12/31/2000 23:45             RED          LIGHT    WI
12/31/2000 23:59             RED           OVAL    FL