## How to remove duplicate rows in pandas?

In [5]:
import pandas as pd

In [6]:
#create dataframe users
user_cols=['user_id','age','gender','occupation','zip_code']
users=pd.read_table('http://bit.ly/movieusers', sep='|',header=None,
             names=user_cols, index_col='user_id')

In [7]:
users.shape

(943, 4)

#### How to find duplicates in a pandas series (specific col)

In [8]:
#IMPORTANT: PANDAS
#duplicated #duplicates #explore #select #prepare #pandas

#finding duplicates: when there is a duplicate above a specific value then its TRUE (else FALSE)
users.zip_code.duplicated()

user_id
1      False
2      False
3      False
4      False
5      False
       ...
939    False
940     True
941    False
942    False
943    False
Name: zip_code, Length: 943, dtype: bool

In [9]:
#Sum of unique values
users.zip_code.nunique()

795

In [10]:
#Sum of duplicates in col zip_code
users.zip_code.duplicated().sum()

148

In [11]:
#sum of unique values and duplicates match the total rows of col zip_code
users.zip_code.nunique() + users.zip_code.duplicated().sum()

943

### How to find duplicates in a dataframe (duplicates regarding entire row)

In [12]:
#IMPORTANT: PANDAS
#duplicated #duplicates #explore #select #prepare #pandas

#finding rows, which are completely equal to the row above (.duplicated() on whole df)
users.duplicated().sum()

7

In [13]:
#IMPORTANT: PANDAS
#duplicated #duplicates #explore #select #prepare #pandas

#show all the rows which are completley duplicate-rows (show rows for which .duplicated() is TRUE, all cols)
#keep = first or last (depends on which one to keep), keep = False keeps all duplicates)
users.loc[users.duplicated(keep='last'), :]

         age gender occupation zip_code
user_id
67        17      M    student    60402
85        51      M   educator    20003
198       21      F    student    55414
350       32      M    student    97301
428       28      M    student    55414
437       27      F      other    20009
460       44      F      other    60630

In [14]:
#IMPORTANT: PANDAS
#drop_duplicates #duplicates #explore #select #prepare #pandas

#drop duplicates
users.drop_duplicates(keep='first').shape

(936, 4)

### How to find duplicates in a certain subset

In [15]:
#IMPORTANT: PANDAS
#drop_duplicates #duplicates #explore #select #prepare #pandas

#find duplicates on certain cols
#pretend age and zip_code should be unique values
users.duplicated(subset=['age', 'zip_code']).sum()

16