## How to performe a random pick and tain-test-split with pandas?

In [1]:
import pandas as pd

In [2]:
#create dataframes
ufo_path = 'http://bit.ly/uforeports'
train_path = 'http://bit.ly/kaggletrain'
ufo = pd.read_csv(ufo_path)
train = pd.read_csv(train_path)

In [3]:
#IMPORTANT: PANDAS
#sample #randomsample #sampling #ML #read #pandas

#pick random samples of n=10 out of ufo
#random_state = 42 reproduces same set of samples
ufo.sample(n=10, random_state=42)

               City Colors Reported Shape Reported State              Time
217    Norridgewock             NaN           DISK    ME   9/15/1952 14:00
12282         Ipava             NaN       TRIANGLE    IL   10/1/1998 21:15
17933     Ellinwood             NaN       FIREBALL    KS  11/13/2000 22:00
9834        Poulsbo             NaN            NaN    WA   12/21/1996 0:00
7335        Zebulon             NaN          OTHER    NC   5/15/1994 15:30
563          Mohave             NaN          LIGHT    CA   8/15/1959 21:00
6504      Calistoga             NaN         SPHERE    CA   2/15/1991 15:00
14907     Tehachapi            BLUE        CHEVRON    CA  10/21/1999 13:00
12277       Del Mar             NaN       FIREBALL    CA   10/1/1998 16:00
7004        Creston             NaN         SPHERE    NC   4/14/1993 21:00

In [4]:
#IMPORTANT: PANDAS
#sample #randomsample #sampling #ML #read #pandas

#pick random samples by ratio of 20%
ufo.sample(frac=0.20, random_state=99)

                 City Colors Reported Shape Reported State              Time
6250        Sunnyvale             NaN          OTHER    CA   12/16/1989 0:00
8656   Corpus Christi             NaN            NaN    TX    9/13/1995 0:10
2729           Mentor             NaN           DISK    OH    8/8/1974 10:00
7348           Wilson             NaN          LIGHT    WI     6/1/1994 1:00
12637          Lowell             NaN         CIRCLE    MA  11/26/1998 10:00
...               ...             ...            ...   ...               ...
12282           Ipava             NaN       TRIANGLE    IL   10/1/1998 21:15
18086       Tonawanda             NaN          LIGHT    NY    12/6/2000 4:55
17287         Waverly      RED YELLOW          LIGHT    KY    8/25/2000 5:03
4986   Virginia Beach             NaN          LIGHT    VA  11/15/1983 17:00
2474        Irvington             NaN           OVAL    NJ    8/3/1973 22:00

[3648 rows x 5 columns]

### How to do a Train-Test-Split with Pandas?

In [5]:
#IMPORTANT: PANDAS
#sample #randomsample #tilde #sampling #ML #read #pandas

#train-test-split with pandas
#taking 75% of the dataset for testing
train = ufo.sample(frac=0.75, random_state=99)

#taking 25% for testing
#tilde negatiates the .isin-Function to what isn't in train.index
test = ufo.loc[~ufo.index.isin(train.index),:]