## How do I select a pandas series from a DataFrame?

In [1]:
import pandas as pd

In [2]:
#read_table #read_csv #read #pandas
#difference between read_table und _csv: read_csv uses ',' as seperator
ufo = pd.read_csv('http://bit.ly/uforeports')

In [9]:
#print type of ufo
#print type of a col in ufo
print(type(ufo)) #type dataframe
print(type(ufo.City)) #type series

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [4]:
ufo.head(2)

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [5]:
type(ufo['City'])

pandas.core.series.Series

In [6]:
 ufo.City

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [7]:
#col #dot-notation #prepare #pandas
ufo['Location'] = ufo.City + ', ' + ufo.State

#dot-notation won't work
#ufo.Location = ufo.City + ', ' + ufo.State

In [8]:
ufo.head(2)

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"