## How to use MultiIndex in pandas?

In [1]:
import pandas as pd

In [2]:
#create dataframes
train_path = 'http://bit.ly/kaggletrain'
stocks_path = 'http://bit.ly/smallstocks'
train = pd.read_csv(train_path)
stocks = pd.read_csv(stocks_path)

In [3]:
stocks.head()

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
3  2016-10-04  113.00  29736800   AAPL
4  2016-10-04   57.24  20085900   MSFT

In [4]:
stocks.index

RangeIndex(start=0, stop=9, step=1)

### Show example for MultiIndexing

In [5]:
#Groupby a single col: creates an index
stocks.groupby('Symbol').Close.mean()

Symbol
AAPL    112.856667
CSCO     31.480000
MSFT     57.433333
Name: Close, dtype: float64

In [6]:
#Groupby: 2 cols (creates a multiindex)
ser = stocks.groupby(['Symbol','Date']).Close.mean()
ser

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
        2016-10-05    113.05
CSCO    2016-10-03     31.50
        2016-10-04     31.35
        2016-10-05     31.59
MSFT    2016-10-03     57.42
        2016-10-04     57.24
        2016-10-05     57.64
Name: Close, dtype: float64

In [7]:
#ser is a series with a multiindex
#multiindex adds another dimension to your data
#a dataframe with a index has 2 dimensions, with multiindex at least 3 dimensions
ser.index

MultiIndex([('AAPL', '2016-10-03'),
            ('AAPL', '2016-10-04'),
            ('AAPL', '2016-10-05'),
            ('CSCO', '2016-10-03'),
            ('CSCO', '2016-10-04'),
            ('CSCO', '2016-10-05'),
            ('MSFT', '2016-10-03'),
            ('MSFT', '2016-10-04'),
            ('MSFT', '2016-10-05')],
           names=['Symbol', 'Date'])

### Show relationship between unstack() and pivot_table()

In [8]:
#pivot_table created by a groupby (MultiIndex) followed by unstack
ser.unstack()

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

In [9]:
#IMPORTANT: PANDAS
#pivot_table #multiindex #index #select #prepare #pandas

#pivot_table is same as a groupby followed by a unstack-function
df = stocks.pivot_table(values='Close', index='Symbol', columns='Date')
df

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

### How to select from a MultiIndex (series)

In [10]:
#you can change ser to df, works the same
ser

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
        2016-10-05    113.05
CSCO    2016-10-03     31.50
        2016-10-04     31.35
        2016-10-05     31.59
MSFT    2016-10-03     57.42
        2016-10-04     57.24
        2016-10-05     57.64
Name: Close, dtype: float64

In [11]:
#select all of the APPL data
#selecting by outer level
ser.loc['AAPL']

Date
2016-10-03    112.52
2016-10-04    113.00
2016-10-05    113.05
Name: Close, dtype: float64

In [12]:
#select APPL and specific date
#selecting by outer and inner level
ser.loc['AAPL','2016-10-03']

112.52

In [13]:
#selecting by inner level
ser.loc[:,'2016-10-03']

Symbol
AAPL    112.52
CSCO     31.50
MSFT     57.42
Name: Close, dtype: float64

### How to set a MultiIndex

In [14]:
#set_index on stocks
stocks.set_index(['Symbol','Date'], inplace=True)
stocks

                    Close    Volume
Symbol Date
CSCO   2016-10-03   31.50  14070500
AAPL   2016-10-03  112.52  21701800
MSFT   2016-10-03   57.42  19189500
AAPL   2016-10-04  113.00  29736800
MSFT   2016-10-04   57.24  20085900
CSCO   2016-10-04   31.35  18460400
MSFT   2016-10-05   57.64  16726400
CSCO   2016-10-05   31.59  11808600
AAPL   2016-10-05  113.05  21453100

In [15]:
#show index
stocks.index

MultiIndex([('CSCO', '2016-10-03'),
            ('AAPL', '2016-10-03'),
            ('MSFT', '2016-10-03'),
            ('AAPL', '2016-10-04'),
            ('MSFT', '2016-10-04'),
            ('CSCO', '2016-10-04'),
            ('MSFT', '2016-10-05'),
            ('CSCO', '2016-10-05'),
            ('AAPL', '2016-10-05')],
           names=['Symbol', 'Date'])

In [16]:
#IMPORTANT: PANDAS
#sort_index #multiindex #index #select #prepare #pandas

#sort_index to optimize dataframe shown
stocks.sort_index(inplace=True)
stocks

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800
       2016-10-05  113.05  21453100
CSCO   2016-10-03   31.50  14070500
       2016-10-04   31.35  18460400
       2016-10-05   31.59  11808600
MSFT   2016-10-03   57.42  19189500
       2016-10-04   57.24  20085900
       2016-10-05   57.64  16726400

### How to select from a MultiIndex (dataframe)

In [17]:
#selecting from stocks
#selecting outer level
stocks.loc['AAPL']

             Close    Volume
Date
2016-10-03  112.52  21701800
2016-10-04  113.00  29736800
2016-10-05  113.05  21453100

In [18]:
#selecting from stocks
#selecting outer and inner level
stocks.loc['AAPL','2016-10-03']

Close          112.52
Volume    21701800.00
Name: (AAPL, 2016-10-03), dtype: float64

In [19]:
#IMPORTANT: PANDAS
#multiindex #index #select #prepare #pandas

#selecting outer and inner level: passing multiindex by a tupel
stocks.loc[('AAPL','2016-10-03'),:]

Close          112.52
Volume    21701800.00
Name: (AAPL, 2016-10-03), dtype: float64

In [20]:
stocks.loc[('AAPL','2016-10-03'),'Close']

112.52

In [21]:
#IMPORTANT: PANDAS
#multiindex #index #select #prepare #pandas

#selecting >2 outer level and specific inner level: passing multiindex by a tupel
stocks.loc[(['AAPL','MSFT'],'2016-10-03'),:]

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
MSFT   2016-10-03   57.42  19189500

In [22]:
#IMPORTANT: PANDAS
#multiindex #index #select #prepare #pandas

#selecting specific outer level and >2 inner level: passing multiindex by a tupel
stocks.loc[('AAPL',['2016-10-03','2016-10-04']),:]

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800

In [23]:
#IMPORTANT: PANDAS
#multiindex #index #select #prepare #pandas

#selecting all outer level and >2 inner level: passing multiindex by a tupel
stocks.loc[(slice(None),['2016-10-03','2016-10-04']),:]

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800
CSCO   2016-10-03   31.50  14070500
       2016-10-04   31.35  18460400
MSFT   2016-10-03   57.42  19189500
       2016-10-04   57.24  20085900

### How to merge on >2 indexes

In [24]:
#create a dataframe 'volume'
volume = pd.read_csv(stocks_path, usecols=[0,2,3],index_col=['Symbol','Date'])
volume

                     Volume
Symbol Date
CSCO   2016-10-03  14070500
AAPL   2016-10-03  21701800
MSFT   2016-10-03  19189500
AAPL   2016-10-04  29736800
MSFT   2016-10-04  20085900
CSCO   2016-10-04  18460400
MSFT   2016-10-05  16726400
CSCO   2016-10-05  11808600
AAPL   2016-10-05  21453100

In [25]:
#create a dataframe 'close'
close = pd.read_csv(stocks_path, usecols=[0,1,3],index_col=['Symbol','Date'])
close

                    Close
Symbol Date
CSCO   2016-10-03   31.50
AAPL   2016-10-03  112.52
MSFT   2016-10-03   57.42
AAPL   2016-10-04  113.00
MSFT   2016-10-04   57.24
CSCO   2016-10-04   31.35
MSFT   2016-10-05   57.64
CSCO   2016-10-05   31.59
AAPL   2016-10-05  113.05

In [26]:
#IMPORTANT: PANDAS
#merge #multiindex #index #select #prepare #pandas

#merge on multiindex
both = pd.merge(close,volume, left_index=True, right_index=True)
both.sort_index(inplace=True)
both

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800
       2016-10-05  113.05  21453100
CSCO   2016-10-03   31.50  14070500
       2016-10-04   31.35  18460400
       2016-10-05   31.59  11808600
MSFT   2016-10-03   57.42  19189500
       2016-10-04   57.24  20085900
       2016-10-05   57.64  16726400

In [27]:
#IMPORTANT: PANDAS
#principles of tidy data
#1: each variable must have its own col
#2: each observation must have its own row
#3: each value must have its own cell
#index can be reseted
both.reset_index()

  Symbol        Date   Close    Volume
0   AAPL  2016-10-03  112.52  21701800
1   AAPL  2016-10-04  113.00  29736800
2   AAPL  2016-10-05  113.05  21453100
3   CSCO  2016-10-03   31.50  14070500
4   CSCO  2016-10-04   31.35  18460400
5   CSCO  2016-10-05   31.59  11808600
6   MSFT  2016-10-03   57.42  19189500
7   MSFT  2016-10-04   57.24  20085900
8   MSFT  2016-10-05   57.64  16726400

### How to reshape a MultiIndexed series?

In [28]:
#IMPORTANT: PANDAS
#unstack #multiindex #reshape #index #select #prepare #pandas

#reshape a multiindex dataframe with unstack
train.groupby(['Sex','Pclass']).Survived.mean().unstack()

Pclass         1         2         3
Sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

### How to create a pivot table?

In [29]:
#IMPORTANT: PANDAS
#pivot_table #multiindex #reshape #index #select #prepare #pandas

#margins=True sets totals of rows and cols
train.pivot_table(index='Sex', columns='Pclass', values='Survived', aggfunc='count', margins=True)

Pclass    1    2    3  All
Sex
female   94   76  144  314
male    122  108  347  577
All     216  184  491  891